body {
    color: red;
}

h1 {
    color: #8b1a1a;
}

h2 {
    color: #cd3333;
}

a {
    color: #e14169;
}

code, pre {
    background-color: #fff0f0;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #f7dede;
}

pre {
    padding: 10px;
    overflow-x: auto;
}